/* GENERAL */
html 
{
  box-sizing:border-box;
 font-family:Times new roman,Helvetica,sans-serif;
} 
*,*:before,*:after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
}
.hidden
{
	position:absolute;
	left:-10000px;
}
.page-wrapper
{
	margin:0 auto;
}
/* HEADER */
#header
{
	width:100%;
	padding:0.5em;
	background-color:#000000;
	color:#d3af80;
	/* height:120px; */
	position:relative;
	border-bottom:4px solid #d3af80;
}
#head-contact
{
	float:right;
}
#reservation
{
	float:left;
	clear:both;
}
#reservation a
{
	text-decoration:none;
	color:#d3af80;
	font-size:20px;
}
#reservation a:active
 {
  color: #824328;
}
#reservation a:hover
{
  color: #824328;
}

/* NAVIGATION */
.menu-bar
{
	width:100%;
	text-align:center;
	position:relative;
}
.menu-bar li
{
	display:inline-block;
	margin-right:0.2em;
	list-style:none;
	padding:0.4em;
	vertical-align:top;
	position:relative;
}
.menu-bar a
{
	text-decoration:none;
	text-transform:uppercase;
	color:#d3af80;
	font-weight:bold;
}
.menu-bar a:active {
  color: #824328;
}
.menu-bar a:hover {
  color: #824328;
}
.menu-bar li li
{
	display:block;
	width:130px;
	background-color:#000000;
	padding:0.5em;
	border:1px solid #d3af80;
}
.logo_image
{
	margin:auto;
	display:block;
	width:190px;
	height:120px;
}
/* Banner */
#banner-img
{
	width:100%;
	height:400px;
	
	
}
/*Main */
#main
 {
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	color:black;
	
}
#main-content
{
	margin-top:3em;
	margin-bottom:3em;
	border-bottom:1px solid #cfd5d8;
	border-top:1px solid #cfd5d8;
}
h1
{
	color:#824328;
	text-align:center;
	font-size:28px;
}
h2
{
	color:#824328;
	text-align:center;
	font-size:28px;
}
#main-content p {
	text-align:center;
	font-size:22px;
	line-height:1.5;
}
.story
{
	float:left;
	
	max-width:47%;
	margin-right:3%;
	padding:0.3em;
	margin-bottom:3em;
	
	
}
.story #about-img{
	width:100%;
	height:600px;
}

.story p {
	font-size:18px;
	line-height:1.5;
}

/* FOOTER */
#footer
{
	clear:both;
	width:100%;
	padding:0.5em;
	background-color:#000000;
	color:#d3af80;
	position:relative;
	border-top:4px solid #d3af80;	
}
.footer-menu-bar
{
	width:100%;
	/* left:400px; */
	text-align:center;
}
.footer-menu-bar li
{
	display:inline-block;
	margin-right:0.2em;
	list-style:none;
	padding:0.3em;
}
.footer-menu-bar a
{
	text-decoration:none;
	text-transform:uppercase;
	color:#d3af80;
	font-weight:bold;
}
.footer-menu-bar a:active {
  color: #824328;
}
.footer-menu-bar a:hover {
  color: #824328;
}
#footer-btm
{
	clear:both;
	padding:1em;
	color:#d3af80;
	text-align:center;
}