.page-wrapper
{
	margin:0 auto;
}

.hidden
{
	position:absolute;
	left:-10000px;
}
main
{
	border:1px solid #fce2af;
	padding:1em;
	margin-bottom:1em;
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	color:#000000;
}
#section-contact h3
{
	color: #824328;
	text-transform:capitalize;
	text-align:center;
	font-size:30px;
}

#section-contact
{
	margin:0.5em;
	padding:0.5em;
}
#contact-form div
{
	color:#824328;
	font-weight:lighter;
	font-size:20px;
	margin-bottom:0.6em;
}
input:not(.submit),textarea,select
{
	padding:1em;
	width:450px;
	border:1px solid #824328;
}
.submit 
{
	background-color:#824328;
	color:white;
	text-decoration:none;
	padding:1em;
	border-radius:4px;
	border:1px solid #824328;
	text-transform:uppercase;
}
.submit:hover
{
	background-color:maroon;
}
h4
{
	color: #824328;
	text-transform:capitalize;
	text-align:center;
	font-size:24px;
}
.para
{
	text-align:center;
}

