
html 
{
  box-sizing:border-box;
 font-family:Times new roman,Helvetica,sans-serif;
 font-size:16px;
} 
*,*:before,*:after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
}
.page-wrapper
{
	margin:0 auto;
}
.hidden
{
	position:absolute;
	left:-10000px;
}
main
{
	border:1px solid #fce2af;
	padding:1em;
	margin-bottom:1em;
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	color:black;
	margin-top:1em;
}
h2
{
	color:#824328;
	text-align:center;
	font-size:30px;
}
 .thumbnails img 
 {
	 width:70px;
        height: 70px;
        border: 4px solid #824328;
        padding: 1px;
        margin: 0 10px 10px 0;
 }
.preview, .gallery
{
	 Text-align:center;
}
.preview img
 {
        border: 4px solid #824328;
        padding: 1px;
        width: 700px;
		height:500px;
}

	  
	  
	