

/*General */

html {
  box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.page-wrapper {
  text-align: center;
	margin: 0 auto;
}


/* Banner */

#banner {
  max-width: 100%;
  height: auto;
}



h2, h3 {
	color: #824328;
	text-align: center;
}


/*Main*/

#main-text p {
	text-align: center;
	font-size: 22px;
}



/*Images*/

img {
  width: 40%;
  height: auto;
}
