/******************************/
/*General */
html 
{
  box-sizing:border-box;
 font-family:Times new roman,Helvetica,sans-serif;
} 
*,*:before,*:after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
}
.hidden
{
	position:absolute;
	left:-10000px;
}
.page-wrapper
{
	margin:0 auto;
}
/* Banner */
.slide-container
{
	width:1024px;
	height:600px;
	margin-bottom:1em;
	position: relative;
    margin:0 auto;
	display:block;
}
.slide-container  > div { 

    position: absolute; 

}
.Slides img
{
    /* display:block; */
	width:1024px;
	height:600px;
}

/* MAIN */
#main
{
	border:1px solid #fce2af;
	padding:1em;
	margin-bottom:1em;
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	color:black;
}
#main-content
{
	margin-bottom:3em;
}
h2
{
	color:#824328;
	text-align:center;
	font-size:30px;
}
h3,h4
{
	color:#824328;
	text-transform:uppercase;
	font-weight:bold;
}
.same-sec
{
	float:left;
	width:31%;
	margin-right:1.3%;
	padding:0.3em;
	margin-bottom:3em;
}
.same-sec img
{
	width:280px;
	height:200px;
}
.same-sec-button
{
	margin-top:5em;
	text-align:center;
	background-color:#824328;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	padding:0.5em;
	padding-left:5em;
	padding-right:5em;
	border-radius:4px;
}
.same-sec a:hover
{
	background-color:maroon;
}
#image-gallery
{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
}
#image-gallery img
{
	width:235px;
	height:200px;
	margin-right:0.5em;
	border:4px solid #824328;
}
#gallery-button a
{
	text-align:left;
	background-color:#824328;
	color:white;
	text-decoration:none;
	padding:0.5em;
	border-radius:4px;
	
}
#gallery-button a:hover
{
	background-color:maroon;
}
#gallery 
{
	margin-bottom:3em;
}
