/* Andrei Navumau style sheet*/
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/* GENERAL STYLES, CLASSES, COLORS */

body {
	font-size: 16px; /* it's 16px by default in Chrome, Firefox, just to be on the safe side*/
	margin: 0; /*change default behavior of body*/
	/*background-color: #636363;*/
}

.hidden {
	position: absolute;
	left: -10000px;
}

.dashed {
	border: 1px dashed black;
}

#page {
	max-width: 1024px;
	margin: 0 auto;
	background-color: #ffffff;
	/*color:#fff;*/
	text-align: center;
}

.clear {
	clear: both;
}

.flex {
	display:flex;
	flex-flow: row wrap;	
	padding: 20px;
}

img {
	/*max-width: 100% !important;*/
	height: auto;
}

/* HEADER SECTION */
/* Styles are in home.css*/

/* MAIN SECTION */

main {
	min-height: 800px;
	margin-top: 20px;
	width:100%;
	padding: 20px;
}

#map, #mapp {
	flex:2;
	margin-right: 10px;
	background-color: pink;
	height:600px;
	width:100%;
	padding: 20px;
}

.mapContainer {
	flex:2;
	width:100%;
	height:200px;
	margin:10px;
}

.mapHeader {
	background: #ffffff;
}

.imgHeader {
	border-radius: 0;
	margin-bottom: 0;
	padding: 0;
	background: #FFE5C3;
	color: #d3af80 !important;
}

#bloor, #woodward, #spadina, #mccaul, #yonge, #kingsway {
	flex:2;
	width:100%;
	height:200px;
	margin:10px;
}

#afterMaps {
	height:100px;
}

#map img {
	/*max-width: inherit;*/
}

#right-sidebar {
	flex:1;
	margin-left: 10px;
	background-color: green;
	height:600px;
	padding: 20px;
}

h1 {
	color: #824328;
}

h2 {
	margin-bottom: 2px;
	padding: 3px 0 2px 25px;
	background: #000000;
	color: #d3af80 !important;
	border-radius: 50% 50% 0% 0%;
}

.locationContainer {
	/*background: #524737;*/
	/*padding: 15px;*/
	padding-top:10px;
	color: #FFE5C3;/*Paragraph font colour*/
}

.locationContent p, .locationContainer h2 {
	margin:0;
	padding:10px;
}

.locationContent p {
	background:#FFE5C3;
	color:#524737;
	font-size: 1.5em;
	font-family: Arial, sans-serif;
}

#curSpecial{
	width:598px; 
	margin: 0 auto;
}

#gallery{
	padding: 10px;
	background:#FFE5C3;

}
#gallery img{
	margin-left: 40px;
	margin-bottom: 10px;
}

#thanks_msg {
	display: none;
}

/* FOOTER SECTION */
/* Styles are in home.css*/