body {
  padding:1em;
  margin: 1em;
}

a {
  text-decoration: none;
  color: #d3af80;
}

ol {
    list-style-type: none;
    padding: 0.5em;

    color: #d3af80;
}
li {
  list-style-type: none;
  font-size: 20px;
}
li:hover {
    color: #824328;
    text-decoration: underline;
}
